:root {
    --background-100: #000000;
    --background-200: #161C1F;
    --background-300: #D4DEE3;
    --background-400: #F1F4F6;
    --text-primary-default: #FFFFFF;
    --text-primary-inverse: #000000;
    --text-secondary-default: #99AFB9;
    --text-secondary-inverse: #49626D;
    --text-link-default: #F17FF8;
    --text-link-inverse: #009FC6;
    --text-error-default: #BC1408;
    --text-error-inverse: #E1331C;
    --text-accent-default: #C298FC;
    --text-accent-inverse: #3A2460;
    --text-disabled: #869FAA;
    --border-primary-default: #9FABBB;
    --border-primary-inverse: #253238;
    --border-active: #F17FF8;
    --border-error: #BC1408;
    --border-focus: #98A2AA;
    --border-disabled: #DBDBDB;
    --border-divider-default: #FFFFFF19;
    --border-divider-inverse: #000000;
    --border-active-inverse: #A30EB0;
    --ui-default: #F17FF8;
    --ui-hover: #DE57E8;
    --ui-active: #A30EB0;
    --ui-disabled: #2F0E31;
    --ui-bkg-default: #FFFFFF0C;
    --ui-bkg-hover: #FFFFFF19;
    --ui-default-inverse: #FDAAFF;
    --ui-hover-inverse: #F488FA;
    --ui-active-inverse: #C431D0;
    --ui-bkg-default-inverse: #00000007;
    --ui-bkg-hover-inverse: #0000000F;
    --icon-primary-default: #FFFFFF;
    --icon-primary-inverse: #9FABBB;
    --icon-emphasis-default: #DBE4E8;
    --icon-emphasis-inverse: #161C1F;
    --icon-accent: #F17FF8;
    --icon-accent-inverse: #7E0089;
    --icon-disabled: #253238;
    --alert-notification-default: #F17FF8;
    --alert-notification-inverse: #009FC6;
    --alert-error-default: #FF8868;
    --alert-error-inverse: #BC1408;
    --alert-success-default: #86E1D1;
    --alert-success-inverse: #006E60;
    --alert-warning: #8F4F00;
    --alert-advisory: #7F6300;
    --alert-success-bkg-default: #980152;
    --alert-success-bkg-error: #50A058;
    --brand-gray-100: #000000;
    --brand-gray-200: #253238;
    --brand-gray-300: #49626D;
    --brand-gray-400: #607B87;
    --brand-gray-500: #7B95A0;
    --brand-neutral-100: var(--neutral-500);
    --brand-neutral-200: var(--neutral-400);
    --brand-neutral-300: var(--neutral-300);
    --brand-neutral-400: var(--neutral-200);
    --brand-neutral-500: var(--neutral-100);
    --brand-midnight-100: #57085D;
    --brand-midnight-200: #A30EB0;
    --brand-midnight-300: #C431D0;
    --brand-midnight-400: #DE57E8;
    --brand-midnight-500: #FDAAFF;
    --brand-atlas-100: #00384C;
    --brand-atlas-200: #00516F;
    --brand-atlas-300: #0085AD;
    --brand-atlas-400: #009FC6;
    --brand-atlas-500: #48B8DA;
    --brand-breeze-100: var(--breeze-500);
    --brand-breeze-200: var(--breeze-400);
    --brand-breeze-300: var(--breeze-300);
    --brand-breeze-400: var(--breeze-200);
    --brand-breeze-500: var(--breeze-100);
    --brand-tropical-100: #55348D;
    --brand-tropical-200: #7047B5;
    --brand-tropical-300: #8C5ED5;
    --brand-tropical-400: #C298FC;
    --brand-tropical-500: #D9B8FF;
    --brand-alpine-100: var(--alpine-100);
    --brand-alpine-200: var(--alpine-200);
    --brand-alpine-300: var(--alpine-300);
    --brand-alpine-400: var(--alpine-400);
    --brand-alpine-500: var(--alpine-500);
    --brand-flamingo-100: var(--flamingo-100);
    --brand-flamingo-200: var(--flamingo-200);
    --brand-flamingo-300: var(--flamingo-300);
    --brand-flamingo-400: var(--flamingo-400);
    --brand-flamingo-500: var(--flamingo-500);
    --brand-canyon-100: var(--canyon-100);
    --brand-canyon-200: var(--canyon-200);
    --brand-canyon-300: var(--canyon-300);
    --brand-canyon-400: var(--canyon-400);
    --brand-canyon-500: var(--canyon-500);
    --brand-goldcoast-100: var(--goldcoast-100);
    --brand-goldcoast-200: var(--goldcoast-200);
    --brand-goldcoast-300: var(--goldcoast-300);
    --brand-goldcoast-400: var(--goldcoast-400);
    --brand-goldcoast-500: var(--goldcoast-500);
    --tier-alaska-mvp-default: var(--goldgray-200);
    --tier-alaska-mvp-inverse: var(--goldgray-100);
    --tier-alaska-mvpgold-default: var(--gold-200);
    --tier-alaska-mvpgold-inverse: var(--gold-100);
    --tier-oneworld-emerald: var(--emerald);
    --tier-oneworld-sapphire: var(--sapphire);
    --tier-oneworld-ruby: var(--ruby);
}